<%= link_to 'Home page', root_path %>


<h1>All Bookings</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Destination</th>
      <th>Total Price</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= link_to booking.id, booking_path(booking) %></td>
        <td><%= booking.user.email %></td>
        <td><%= booking.destination.address %></td>
        <td><%= booking.total_price %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to 'New Booking', new_booking_path %>
