
<h1>All Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Host</th>
      <th>Destination</th>
      <th>Total Price</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <%# <td><%= link_to booking.id, booking_path(booking) %>
        <td><%= booking.user.first_name %></td>
        <td><%= link_to booking.destination.title, booking_path(booking) %></td>
        <td><%= booking.total_price %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
