<h1>All Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Host</th>
      <th>Destination</th>
      <th>Total Price</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.user.first_name %></td>
        <td><%= booking.destination.title %></td>
        <td><%= (booking.end_date - booking.start_date).to_i * booking.destination.price %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
