<h1>New Booking</h1>

<%= form_with(model: @booking, url: bookings_path, local: true) do |form| %>
  <div>
    <%= form.label :user_id %>
    <%= form.select :user_id, User.all.collect { |user| [user.email, user.id] } %>
  </div>

  <div>
    <%= form.label :destination_id %>
    <%= form.select :destination_id, Destination.all.collect { |destination| [destination.address, destination.id] } %>
  </div>

  <div>
    <%= form.label :total_price %>
    <%= form.number_field :total_price %>
  </div>

  <div>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.submit 'Create Booking' %>
  </div>
<% end %>
