<div class="container">

  <h1 class="booking-title" >Booking Details</h1>

  <p><strong>User:</strong> <%= @booking.user.email %></p>
  <p><strong>Host:</strong> <%= @booking.destination.user.first_name %></p>
  <p><strong>Destination:</strong> <%= @booking.destination.title %></p>
  <p><strong>Price per night:</strong> <%= @booking.destination.price %></p>
  <p><strong>Start Date:</strong> <%= @booking.start_date %></p>
  <p><strong>End Date:</strong> <%= @booking.end_date %></p>
  <p><strong>Total Nights:</strong> <%= (@booking.end_date - @booking.start_date).to_i %></p>
  <p><strong>Total Price:</strong> <%= (@booking.end_date - @booking.start_date).to_i * @booking.destination.price %></p>


  <h2>Reviews</h2>
  <div class="ratings">
    <% @reviews.each do |review| %>
      <div class="card">
        <div class="rating">
          <% review.rating.times do %>
            <span class="star">&#9733;</span>
          <% end %>
        </div>
        <p><%= review.comment %></p>
        <p><%= review.booking.user.first_name %></p>
        <p><%= cl_image_tag review.booking.user.photo.key, class:"avatar" %></p>
      </div>
    <% end %>
  </div>

  <%= link_to "Add a review", new_destination_booking_review_path(@booking.destination, @booking), class: "btn btn-primary" %>

  <%= link_to "Back", bookings_path %>
</div>
