<h1>Booking Details</h1>

<p><strong>ID:</strong> <%= @booking.id %></p>
<p><strong>User:</strong> <%= @booking.user.email %></p>
<p><strong>Destination:</strong> <%= @booking.destination.address %></p>
<p><strong>Total Price:</strong> <%= @booking.total_price %></p>
<p><strong>Start Date:</strong> <%= @booking.start_date %></p>
<p><strong>End Date:</strong> <%= @booking.end_date %></p>
<p><strong>Created At:</strong> <%= @booking.created_at %></p>
<p><strong>Updated At:</strong> <%= @booking.updated_at %></p>
