<div class= "container">
  <div class ="d-flex justify-content-between">
    <h1> Your Destinations </h1>
    <%= link_to "Add a Destination", new_destination_path%>
  </div>
<br>
  <div class="row">
    <% current_user.destinations.each do |destination| %>
      <div class="col-md-4">
        <div class="destination-card">
          <div class="destination-card-image">
            <% if !destination.photos.attached? %>
              <%= image_tag "hogwarts-castle.jpg" %>
            <% else %>
              <%= cl_image_tag destination.photos.first.key %>
            <% end %>
          </div>
          <div class="destination-card-content">
            <div class="destination-card-title">
              <h4><%= destination.title %></h4>
            </div>
            <p><%= destination.address %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <i class="fa-solid fa-people-line"></i>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= destination.price %></span>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to "More info", destination_path(destination) %>
            <%= link_to "Edit", edit_destination_path(destination), class: "ms-3 text-warning" %>
            <%= link_to "Remove", destination_path(destination),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "ms-3 text-danger"
              %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
