<%= link_to 'Home page', root_path %>

<h1>All Destinations</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Address</th>
      <th>Price</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @destinations.each do |destination| %>
      <tr>
        <td><%= link_to destination.id, destination_path(destination) %></td>
        <td><%= destination.user.email %></td>
        <td><%= destination.address %></td>
        <td><%= destination.price %></td>
        <td><%= destination.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Destination', new_destination_path %>
