<div class="container">
  <h1 class="destination-title">Destination Details</h1>
   <%= image_tag "hobbiton.jpg", class:"destination-image" %>
  <div class="destination-info">
    <p><strong>ID:</strong> <%= @destination.id %></p>
    <p><strong>User:</strong> <%= @destination.user.email %></p>
    <p><strong>Address:</strong> <%= @destination.address %></p>
    <p><strong>Price per night :</strong> <%= @destination.price %></p>
    <p><strong>Description:</strong> <%= @destination.description %></p>
  </div>

  <%= link_to "Book", new_destination_booking_path(@destination), class: "btn btn-primary" %>
</div>
